* text=auto
.gitattributes text eol=lf
.gitignore text eol=lf
*.cff text eol=lf
*.txt text eol=lf
*.sh text eol=lf
*.py text eol=lf
*.R text eol=lf
*.tsv text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.png binary
*.pdf binary
*.pptx binary
